@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


:root {
	--primary-color: #58abe3ff;
	--primary-dark-color: #5496d7ff;
	--primary-light-color: #b5e7faff;
	--hard-surface-color: #1f2b54ff;
	--white-hole-color: #fff;
	--black-hole-color: #000;
	--soft-surface-color: #f0f1f2ff;
	--text-hard-color: #202c55ff;
}
.dark {
	--primary-color: #58abe3ff;
	--primary-dark-color: #5496d7ff;
	--primary-light-color: #b5e7faff;
	--hard-surface-color: #1f2b54ff;
	--white-hole-color: #000;
	--black-hole-color: #fff;
	--soft-surface-color: #f0f1f2ff;
	--text-hard-color: #202c55ff;
}

@theme {
	--color-primary: var(--primary-color);
	--color-primary-dark: var(--primary-dark-color);
	--color-primary-light: var(--primary-light-color);
	--color-hard-surface: var(--hard-surface-color);
	--color-soft-surface: var(--soft-surface-color);
	--color-white-hole: var(--white-hole-color);
	--color-black-hole: var(--black-hole-color);
	--color-text-hard: var(--text-hard-color);
}
